@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie|Source+Sans+Pro:200,300,400,600,700,900&display=swap');
body {
  margin: 0;
  font-family: 'Source Sans Pro',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden; 
}
@media screen and (max-width: 992px) {
  body {
    height: auto;
    max-height: inherit;
    overflow: auto; 
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  font-family: 'Source Sans Pro',sans-serif;
}

